
<div class="container">
  <div class="container-inner ranking clearfix">
    <h2>「Have」している人が多いランキング TOP10</h2>
    <% items.each_with_index do |item, i| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
              <%= image_tag(item.large_image , alt: item.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= truncate(item.title, omission: '・・・', length: 26) %>
          </p>
        </div>
        <div class="ranking">
          <p class="title">
            <strong><%= p i+1 %>位</strong>
            <%= item.have_users.count %>人が「Have」しています
          </p>
        </div>
        <%= render 'items/action' , item: item if logged_in? %>
      </div>
    <% end %>
  </div>
</div>
