<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:head) %>
    <%= yield :head %>
  <% elsif content_for?(:ritem) %>
    <title><%= yield :ritem %>-Monolist-</title>
    <meta name="description" content="<%= yield :ritem %>"に関する情報です。この商品を欲しい人、持ってる人を表示しています。 />
  <% else %>
    <title><%= yield :muser %>-Monolist-</title>
    <meta name="description" content="<%= yield :muser %>"のモノページ。<%= yield :muser %>の欲しいモノ、持ってるモノを表示しています。 />
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>

<%= render partial: "layouts/header" %>
<%= yield %>
<%= render partial: "layouts/footer" %>

</body>
</html>
